---
layout: default
title: Publications
navbar_title: Publications
---

{% assign pubs = site.publications | sort: "date" | reverse %}

{% assign journal_pubs = pubs | where: "type", "journal" %}
{% assign conference_pubs = pubs | where: "type", "conference" %}
{% assign preprint_pubs = pubs | where: "type", "preprint" %}

<div class="row">
    <div class="col-12 col-lg-10">

        <p>
            For a complete and up-to-date list of publications, please see my
            <a href="https://scholar.google.com/citations?user=eiS8bhoAAAAJ&hl=en" target="_blank">
                Google Scholar profile
            </a>.
        </p>

        {% if journal_pubs.size > 0 %}
        <h2 class="pt-4">Journal Articles</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in journal_pubs %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endif %}

        {% if conference_pubs.size > 0 %}
        <h2 class="pt-5">Conference Proceedings</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in conference_pubs %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endif %}

        {% if preprint_pubs.size > 0 %}
        <h2 class="pt-5">Preprints</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in preprint_pubs %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>